<div n:if="$user->isLoggedIn()">

    <h2 class="text-center">Seznam článků</h2>

    {snippet clicked_area}
        {foreach $articles as $article}

            <div class="mt-3">
				<span><h3>{$article->title}</h3>
					<a class="ajax" n:href="changeClickState! $article->id">+</a>
					<span>Hodnoceni: {$article->rating}</span>
				</span>
                <div class="mt-1">{$article->perex}</div>
                <div class="mt-1">{$article->published_date}</div>
            </div>
        {/foreach}
    {/snippet}


    <div class="mt-4">
        {for $i = 1; $i <= $articlesLastPage; $i++}
            <a class="btn btn-outline-dark" href="{plink Homepage:default $i}" role="button">{$i}</a>

        {/for}
    </div>


</div>


<script>
    $(function() {

        $('a ajax').on('click', function() {
            $.get(this.href);
            return false;
        });

    });
</script>