{block content}

<div n:if="$user->isLoggedIn()">
    <a n:href=":default">Zpět na seznam článků</a>
    <hr/>
    <h2 class="mt-2">Detail článku</h2>

    <p>Název článku: {$articleContent->title}</p>
    <p>Datum publikace: {$articleContent->published_date}</p>

    <p>Obsah:</p>
    {$articleContent->content}

</div>