{block content}


<div class="container">

	<div id="banner" class="mb-3"  >
		<h2 n:block=title>List of articles...</h2>
	</div>

	{foreach $posts as $post}
	<div class="post">
		<h2>{$post->TITLE}</h2>

		<div>{$post->PEREX}</div>
	</div>
	{/foreach}



</div>

