{block content}
<div id="banner">
	<h1 n:block=title>Article system</h1>
</div>

<div id="content">

	{foreach $posts as $post}
	<div class="post">
		<h2>{$post->TITLE}</h2>

		<div>{$post->PEREX}</div>
	</div>
	{/foreach}



</div>

